# Database
DB_HOST=localhost
DB_USER=username
DB_PASS=password1234
DB_NAME=db-name
DB_DIALECT=mysql
DB_PORT=3306

# AWS
AWS_ACCESS_KEY_ID=ABCDEFGHWGHMEX5AK4774
AWS_SECRET_ACCESS_KEY=VOLTE1iG-2DARP5HnM999QN/nJ5dILXZLDmW7mN+
AWS_REGION=ap-northeast-2

# JWT
JWT_SECRET_KEY=ByEXFcEBkiV8JfnUoeE-AxLw5piFkee1HGI7MuP4N6Pma_RdYeZcVE70kkvCUaJ6fiHkK_7YN4hAVbQsVnj1YK09Ct7XC2S3WmPlhcjAQc_dxuB3IpZFXL1m-2dOxm7k
