# Database
DB_HOST=localhost
DB_USER=username
DB_PASS=password1234
DB_NAME=db-name
DB_DIALECT=mysql
DB_PORT=3306

# AWS
AWS_ACCESS_KEY_ID=ABCDEFGHWGHMEX5AK4774
AWS_SECRET_ACCESS_KEY=VOLTE1iG-2DARP5HnM999QN/nJ5dILXZLDmW7mN+
AWS_REGION=ap-northeast-2
